<! DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmer's land</title>
    <style>
      body{background-color: rgb(132, 199, 207);}
    </style>
  </head>

  <body>
    <h1 id="top"> welcome to farmland </h1>
    <ul>
      <li><a href="./login.html" target="_blank">login</a></li>
      <li><a href="./register.html" target="_blank">signup</a></li>
    </ul>
    <h3 >Goods form Farmers</h3>
    <img src="/images/home1.jpg" alt="farmer image" />

    <!--without list-->
    <!--<a href="./login.html">signin</a>
    <a href="./newuser.html">signup</a>-->

    <!--link for to reach page top-->
    <a href="#top">Page Top</a>
  </body>
  </body>
</html>
