<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="portview" content="width=device-width, initial-scale=1.0">
        <title>Profile page</title>
        <!--<style>
            body {background-image: url('/images/home.jpg');}
        </style>-->
    </head>

    <body>
        <h2>User Profile</h2>
        <form action=""https://formspree.io/f/{form_id}"" method="post">
            <fieldset>
                <label for="comment">Bio</label>
                <textarea name="comment" cols="10" rows="1"></textarea>
                <label for="Address">Address</label>
                <input type="address" name="address">
                <label for="phonenumber">Phone Number</label>
                <input type="phonenumber" name="phonenumber" value="+91-">
            </fieldset>
            <button type="submit">Save</button>
        </form>
    </body>
</html>